@import 'Variables.css';

.arrow {
    width: 64px;
    transition: all 0.2s;
}

.arrow.arrow-left {
    position: absolute;
    top: 60%;
    left: 0;
}

.arrow.arrow-left>.shaft {
    width: 0;
    background-color: var(--button-txt-color);
}

.arrow.arrow-left>.shaft:before,
.arrow.arrow-left>.shaft:after {
    width: 0;
    background-color: var(--button-txt-color);
}

.arrow.arrow-left>.shaft:before {
    transform: rotate(0);
}

.arrow.arrow-left>.shaft:after {
    transform: rotate(0);
}

.arrow.arrow-right {
    top: 3px;
}

.arrow.arrow-right>.shaft {
    width: 64px;
    transition-delay: 0.2s;
}

.arrow.arrow-right>.shaft:before,
.arrow.arrow-right>.shaft:after {
    width: 8px;
    transition-delay: 0.3s;
    transition: all 0.5s;
}

.arrow.arrow-right>.shaft:before {
    transform: rotate(40deg);
}

.arrow.arrow-right>.shaft:after {
    transform: rotate(-40deg);
}

.arrow>.shaft {
    background-color: var(--button-txt-color);
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform;
}

.arrow>.shaft:before,
.arrow>.shaft:after {
    background-color: var(--button-txt-color);
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.2s;
    transition-delay: 0;
}

.arrow>.shaft:before {
    transform-origin: top right;
}

.arrow>.shaft:after {
    transform-origin: bottom right;
}

.button-arrow {
    font-family: "Playfair Display", serif;
    display: inline-block;
    margin: 20px auto;
    color: var(--button-txt-color);
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;
}

.button-arrow:hover {
    color: var(--button-txt-hover-color);
}

.button-arrow:hover>.arrow.arrow-left>.shaft {
    width: 64px;
    transition-delay: 0.1s;
    background-color: var(--button-txt-hover-color);
}

.button-arrow:hover>.arrow.arrow-left>.shaft:before,
.button-arrow:hover>.arrow.arrow-left>.shaft:after {
    width: 8px;
    transition-delay: 0.1s;
    background-color: var(--button-txt-hover-color);
}

.button-arrow:hover>.arrow.arrow-left>.shaft:before {
    transform: rotate(40deg);
}

.button-arrow:hover>.arrow.arrow-left>.shaft:after {
    transform: rotate(-40deg);
}

.button-arrow:hover>.main {
    transform: translateX(80px);
}

.button-arrow:hover>.main>.arrow.arrow-right>.shaft {
    width: 0;
    transform: translateX(200%);
    transition-delay: 0;
}

.button-arrow:hover>.main>.arrow.arrow-right>.shaft:before,
.button-arrow:hover>.main>.arrow.arrow-right>.shaft:after {
    width: 0;
    transition-delay: 0;
    transition: all 0.1s;
}

.button-arrow:hover>.main>.arrow.arrow-right>.shaft:before {
    transform: rotate(0);
}

.button-arrow:hover>.main>.arrow.arrow-right>.shaft:after {
    transform: rotate(0);
}

.button-arrow>.main {
    display: flex;
    align-items: center;
    transition: all 0.2s;
}

.button-arrow>.main>.text {
    margin: 0 16px 0 0;
    line-height: 1;
}

.button-arrow>.main>.arrow {
    position: relative;
}