@import 'Variables.css';

.tag {
    position: relative;
    display: inline-block;
    padding: 6px 20px;
    cursor: default;
    color: #fff;
    background: var(--main-bg-color);
    margin: 8px;
    font-size: 0.8em;
}

.tag::before {
    content: "";
    position: absolute;
    left: -5px;
    top: -5px;
    display: block;
    width: calc(100% + 8px);
    height: 36px;
    border: 1px solid var(--main-bg-color);
}

.tag.activable {
    transition: .3s;
    cursor: pointer;

    color: var(--button-txt-color);
    background: transparent;
}

.tag.activable:hover {
    background-color: var(--main-bg-color);
    color: #fff;
}

.tag.active {
    background-color: var(--main-bg-color);
    color: #fff;
}

.tag.activable.active:hover {
    background-color: transparent;
    border-color: var(--main-bg-color-darker);
    color: var(--button-txt-color);
}