:root {
    --default-bg-color: #FFF;
    --main-bg-color-lighter: #abe0b7;
    --main-bg-color: #9ad4a7;
    --main-bg-color-darker: #62bb75;
    --secondary-bg-color: #E8E6E6;

    --main-txt-color: #111;
    --secondary-txt-color: #222;

    --button-txt-hover-color: #222;
    --button-txt-color: #444;

    --max-content-width: 1400px;
}