@import 'components/shared/css/Variables.css';

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--default-bg-color);
}

h2 {
  text-transform: uppercase;
  color: var(--main-bg-color);
  font-size: 2.2em;
}

h3 {
  text-transform: uppercase;
  color: var(--main-bg-color-lighter);
  font-size: 1.4em;
}

header {
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
}

header.scrolled {
  background-color: var(--default-bg-color);
  border-bottom: 1px solid #e6eaea;
}

.logo,
.menu {
  display: inline-block;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}

.header-container .header-left,
.header-container .header-right {
  display: flex;
  align-items: center;
}

.header-container .header-left {
  margin-left: 3em;
}

.header-container .header-right {
  margin-right: 3.7em;
}

.header-container .logo {
  margin-right: 50px;
}

.header-container .logo a {
  text-decoration: none;
  color: var(--main-txt-color);
}

.header-container .menu {
  display: flex;
}

.header-container .menu .header-item {
  margin-left: 2em;
  font-weight: bold;
  font-weight: 500;
  text-decoration: none;
  color: var(--main-txt-color);
  cursor: pointer;
}

.btn {
  cursor: pointer;
}

.button-full {
  position: relative;
  cursor: pointer;
  border: none;
  height: 50px;
  width: 225px;
  margin-top: 20px;
  background-color: var(--main-bg-color);

  color: #FFF;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.5s;
}

.button-full.ghost {
  background-color: transparent;
}

.button-full::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.1);
  transition: all 0.3s;
}

.button-full:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}

.button-full::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: scale(1.2, 1.2);
}

.button-full:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.button-full.danger {
  background-color: transparent;
  color: #ff5959;
  border: 2px solid #ff5959;
  font-weight: 600;
}

.button-full.danger:hover {
  background-color: #ff5959;
  color: white;
}

.button-full.danger::after {
  content: none;
}


.main-container {
  margin: 0 auto;
  padding: 85px 3em 20px;
  max-width: 1400px;
}

.landing-container {
  height: 90vh;
  background: transparent;
  background: -webkit-linear-gradient(to right, transparent 50%, var(--main-bg-color) 50%);
  background: linear-gradient(to right, transparent 50%, var(--main-bg-color) 50%);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  position: relative;

}

.landing-card {
  position: relative;
  border: 12px solid var(--default-bg-color);
  background-color: var(--default-bg-color);
  width: 100%;
  max-width: 700px;
}

@keyframes slideInFromLeftLanding {
  0% {
    transform: translateX(30%);
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromRightLanding {
  0% {
    transform: translateX(-10%);
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.landing-bg-container {
  animation: 3s ease-out 0s 1 slideInFromLeftLanding;
  left: 10%;
  top: 5%;
  z-index: 1;
}

.landing-bg-container img {
  max-width: 100%;
}

.landing-info-theme {
  animation: 2s ease-out 0s 1 slideInFromRightLanding;
  position: absolute;
  background-color: var(--secondary-bg-color);
  max-width: 375px;
  padding: 0 22px;
  right: 15%;
  top: 20%;
  z-index: 2;
}

.landing-info-theme-title {
  text-transform: uppercase;
  color: #555;
}

.landing-theme-span {
  color: var(--main-bg-color-darker);
  font-weight: 500;
  font-style: italic;
}

.landing-cta {
  margin-top: 20px;
  margin-left: 20px;
}

.landing-carousel-main-container {
  position: relative;
}

.landing-carousel-main-container .landing-carousel-bg {
  position: absolute;
  height: 70vh;
  width: 100%;
  z-index: -10;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.landing-carousel-main-container:nth-of-type(even) .landing-carousel-bg {
  background: -webkit-linear-gradient(to left, transparent 50%, var(--secondary-bg-color) 50%);
  background: linear-gradient(to left, transparent 50%, var(--secondary-bg-color) 50%);
}

.landing-carousel-main-container:nth-of-type(odd) .landing-carousel-bg {
  background: -webkit-linear-gradient(to right, transparent 50%, var(--secondary-bg-color) 50%);
  background: linear-gradient(to right, transparent 50%, var(--secondary-bg-color) 50%);
}

.landing-carousel-container {
  min-height: 70vh;
  background: transparent;
  position: relative;

  padding: 30px;
  padding-bottom: 10px;
  margin-top: 45px;
}

.landing-carousel-title {
  position: relative;
  max-width: 30%;
  margin-bottom: 45px;
}

.landing-carousel-main-container:nth-of-type(even) .landing-carousel-title {
  left: 51.5%;
}

.landing-carousel-main-container:nth-of-type(odd) .landing-carousel-title {
  right: -18.5%;
  text-align: right;
}

.landing-carousel-container .see-more {
  text-align: right;
  margin-top: 35px;
}

.countdown-container {
  animation: 3s ease-out 0s 1 slideInFromLeftLanding;
}

.countdown-container .countdown-text {
  position: relative;
  text-align: right;
  right: 51%;
  font-size: 1.2em;
  font-weight: 200;
}

.countdown {
  position: relative;
  text-align: right;
  right: 50%;
}

.countdown ul {
  margin-bottom: 0;
}

.countdown li {
  display: inline-block;
  font-size: 0.8em;
  list-style-type: none;
  text-align: center;
  padding: 1em;
  text-transform: uppercase;
}

.countdown li span {
  display: block;
  font-size: 2.2rem;
}

.card {
  position: relative;
  text-decoration: none;

  border: 12px solid var(--default-bg-color);
  background-color: var(--default-bg-color);
  color: var(--main-txt-color);
}

.card.art-card {
  cursor: pointer;
}

.card .art-content {
  max-width: 320px;
  width: 320px;
  height: 200px;
  object-fit: cover;
}

.art-details-container {
  pointer-events: none;

  position: fixed;
  display: flex;
  max-width: calc(100vw - 0px);
  max-height: calc(100vh - 0px);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1000;
  align-items: center;
  background-color: white;
  transition: opacity 0.6s;
}

.art-details-container.show-details {
  opacity: 1;
  pointer-events: auto;
}

.art-details-container .close {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  color: #6bd68a;
  border: none;
  background: none;
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  padding: 1em;
}

.art-details-container > div {
  z-index: 2;
  flex: 1;
}

.art-details-content-container {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 450px;
}

.art-details-content {
  padding: 30px;
}

.art-details-content .art-content {
  max-width: 100%;
  max-height: 95vh;
  width: auto;
  height: auto;
}

.art-details {
  padding: 30px;
}

.art-details .art-details-theme {
  text-transform: capitalize;
  font-style: italic;
  color: darkgray;
}

.art-details .art-details-author {
  display: block;
  margin-top: -22px;
  text-transform: capitalize;
  font-style: italic;
  color: #5D5D5D;
}

.art-details .art-details-author a {
  color: var(--main-bg-color-darker);
}

.art-details .art-details-author a:hover {
  filter: brightness(85%);
}

.art-details .art-details-like {
  display: flex;
  align-items: center;
  font-size: 1.2em;
}

.art-details .art-details-like.likable {
  cursor: pointer;
}

.art-details .art-details-tags {
  margin-top: 40px;
}


.art-filter-container svg {
  color: var(--main-bg-color);
  font-size: 1.5em;
}

.art-filter-container select {
  margin-left: 10px;
  margin-bottom: 1em;
  padding: 0.25em;
  border: 0;
  border-bottom: 1px solid var(--main-bg-color);
  color: var(--button-txt-color);
  letter-spacing: 0.05em;
  border-radius: 0;
}

select:hover {
  cursor: pointer;
  border-bottom: 1px solid var(--main-bg-color-darker);
}

select:focus-visible {
  outline: none;
}

.art-filter-container .tags-list {
  margin-left: 31px;
}


.card a {
  text-decoration: none;
}

.card.striped-shadow::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgba(55, 55, 55, 1) 8.33%, rgba(255, 0, 0, 0) 8.33%, rgba(255, 0, 0, 0) 50%, rgba(55, 55, 55, 1) 50%, rgba(55, 55, 55, 1) 58.33%, rgba(255, 0, 0, 0) 58.33%, rgba(255, 0, 0, 0) 100%);
  background-size: 16.97px 16.97px;
  z-index: -1;
  left: -35px;
  bottom: -35px;
}

.card-likes {
  position: absolute;
  width: fit-content;
  background-color: var(--main-bg-color);
  color: var(--button-txt-color);
  right: -36px;
  bottom: 22px;
  padding: 8px 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card-likes svg {
  margin-left: 5px;
}

.art-list {
  display: flex;
  align-items: flex-end;
  padding-bottom: 40px;
  padding-left: 40px;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-y: hidden;
  overflow-x: auto;
}

.art-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.art-list::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
  border-radius: 10px;
}

.art-list::-webkit-scrollbar-track {
  background: transparent;
}

.art-list .art-card {
  margin-right: 75px;
}

.card-mozaic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-mozaic .card {
  margin-bottom: 60px;
  margin-right: 60px;
}

.theme-header {
  margin-bottom: 40px;
}

.grid-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid-container a {
  outline: none;
  color: #81c483;
  text-decoration: none;
}

.grid-container .grid-item {
  padding: 45px 55px 30px;
  position: relative;
  color: inherit;
  background: #fff;
  min-height: 300px;
  cursor: pointer;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}

.grid-item::before {
  position: absolute;
  content: '';
  top: 0px;
  right: 55px;
  bottom: 0px;
  left: 55px;
  border-bottom: 1px solid rgba(74, 74, 74, 0.075);
}

.grid-disabled{
  pointer-events: none;
}

.grid-disabled::before{
  background: rgba(250, 250, 250, 0.7);
}

.grid-item-title {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  color: #555;
  transition: .15s;
}

.grid-item-splitter {
  margin: 0 auto 20px;
  width: 50%;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
}

.grid-item-participation {
  flex: 1;
  font-size: 1.1em;
  font-style: italic;
  font-family: "Playfair Display",
  serif;
  color: #7b7b7b;
  text-align: center;
}

.grid-item-infos {
  display: flex;
  justify-content: space-between;
  color: darkgray;
}

@media screen and (min-width: 600px) {
  .grid-container {
    justify-content: left;
  }

  .grid-container .grid-item {
    padding: 30px;
    width: 50%;
  }

  .grid-item::before {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    border: 1px solid rgba(74, 74, 74, 0.075);
    -webkit-transition: opacity 0.3s;
    transition: .2s;
  }

  .grid-item:hover::before {
    border: 3px solid var(--main-bg-color);
  }

  .grid-item:hover .grid-item-title {
    color: var(--main-bg-color);
  }
}

@media screen and (min-width: 900px) {
  .grid-container .grid-item {
    padding: 45px 40px 30px;
    width: 33.333%;
  }
}

@media screen and (min-width: 1100px) {
  .grid-container .grid-item {
    width: 25%;
  }
}

/*//////////////////*/
/*// Registration //*/

.registration-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.registration-container a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.registration-container form {
  background-color: var(--default-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

.registration-container input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.registration-container input:focus-visible {
  outline: var(--main-bg-color) 1px solid;
}

.registration-container {
  background-color: var(--default-bg-color);
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  display: contents;
}

.registration-container .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.registration-container .form-group {
  display: flex;
  width: 100%;
}

.registration-container .form-group > input:first-of-type {
  margin-right: 16px;
}

.registration-container .sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.registration-container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.registration-container .sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.registration-container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.registration-container .overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.registration-container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.registration-container .overlay {
  background: var(--main-bg-color);
  background: -webkit-linear-gradient(to right, var(--main-bg-color-darker), var(--main-bg-color));
  background: linear-gradient(to right, var(--main-bg-color-darker), var(--main-bg-color));

  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.registration-container.right-panel-active .overlay {
  transform: translateX(50%);
}

.registration-container .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.registration-container .overlay-panel h2 {
  color: #fff;
}

.registration-container .overlay-left {
  transform: translateX(-20%);
}

.registration-container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.registration-container .overlay-right {
  right: 0;
  transform: translateX(0);
}

.registration-container.right-panel-active .overlay-right {
  transform: translateX(20%);
}


/**************/
/*** Profil ***/
/**************/

.profil-container {
  display: flex;
}

.profil-infos-container {
  position: relative;
  background-color: var(--secondary-bg-color);
  width: 350px;
}

.follow-btn-container {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.btn-follow {
  border: 1px solid var(--secondary-bg-color);
  width: 120px;
  height: 40px;
  background-color: var(--secondary-bg-color);
}

.profil-infos {
  padding:30px;
}

.profil-infos .title {
  color: #555;
}

.profil-infos h2.title {
  margin-top: 0;
}

.profil-stats {
  display: flex;
  margin-top: -25px;
  margin-bottom: 30px;
}

.profil-stats-item {
   margin-right: 20px;
}

.profil-photo-container {
  position: relative;
  width: 100%;
}

.profil-photo-container img {
  width: 100%;
}

.profil-arts-container {
  position: relative;
  flex: 2;
  padding: 30px;
}

.profil-arts-container h2 {
  margin-top: -14px;
  margin-left: 35px;
}

.profil-arts-container .card-mozaic {
  padding-left: 30px;

  overflow-y: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.card-mozaic::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.card-mozaic::-webkit-scrollbar-thumb {
  background: var(--main-bg-color);
  border-radius: 10px;
}

.card-mozaic::-webkit-scrollbar-track {
  background: transparent;
}

.card-mozaic.profil-submission {
  display: flex;
  justify-content: left;
  padding-left: 50px;
}

.profil-submission > div:nth-child(2) {
  align-self: center;
  margin-top: 60px;
}

.profil-social-media {
  margin-bottom: 60px;
}

.social-media {
  font-size: 34px;
  margin-right: 14px;
  color: var(--button-txt-color);
  transition: .2s;
}

.social-media:hover {
  color: var(--main-bg-color);
}


/**************/
/*** Submit ***/
/**************/

.submit-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end
}

.split{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.custom-select{
  border: 1px solid var(--main-bg-color);
  padding: 5px 20px;
}

.split > * > * {
  margin-bottom: 10px;
}

.split>iframe{
  height: 50vh;
}

.tags-container > *{
  margin-left: 5px;
  margin-bottom: 5px
}

